@{
    ViewData["Title"] = "Pc-Pdx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<PcPdx.Models.User>


<h2>Users</h2>
<ul>
    @foreach (var listUser in Model)
    {
        <li>@Html.DisplayFor(ModelShow => listUser.UserName)</li>

    }
</ul>